# --- Go (Backend) ---
backend/bin/
backend/*.exe
backend/vendor/

# --- Flutter (Frontend) ---
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.pub-cache/

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/
